button {
    padding: 5px;
    margin: 5px;
}

.d-flex {
    display: flex!important;
    flex-direction: column;
    
}

h3 {
    color: aqua;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
