.itemCart {
  display: flex;
  border-bottom: 1px solid gray;
  justify-content: center;
}

.itemCart img {
  width: 130px;
  margin-right: 1rem;
}

.itemCart p {
  margin-bottom: 2px;
  margin-top: 2px;
  font-size: 14px;
}