@media screen and (min-width:768px) {
    .ContainerItemDetail {
        width: 70%;
    }
}

.detail {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding-left: 13px;
    padding-right: 13px;
}

.detail__image {
    width: 65%;
    height: 65%;
}

.content {
    width: 100%;
}

@media screen and (min-width:768px) {
    .detail__image {
        width: 50%;
    }

    .content {
        padding-left: 3rem;
        width: 50%;
    }
}