.contenedor-menu {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul li {
    padding-right: 35px;    
    padding-left: 35px;
    display: flex;
    align-content: flex-end;
    align-items: center;
    list-style: none;
}

.logoAzul {
    padding: 15px;
    height: 140px;
    width: auto;
}
